body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0B121E;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.left-bar {
  width: 10%;
  height: 100%;
}

.search-bar{
  padding-top: 20px;
}

.search-bar input {
  padding: 8px;
  width: 700px;
  height: 25px;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #202B3C;

}

.search-font{
  color: white;
}

.navbar {
  height: 94vh;
  width: 85px;
  background-color: #202B3C;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 30px;
}

.navbar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

.navbar i {
  margin-bottom: 10px;
}

.navbar a:hover {
  background-color: #555;
}
.navbar img {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.nav-icons{
  color: #818895;
}

.weather{
  color: #F1F0F7;
}

.middle-bar{
  width: 90%;
  height: 100%;
}
.cities {
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 100px;
  background-color: #202B3BFF;
  border-radius: 20px;
  margin-top: 15px;
}

.city-img {
  display: flex;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  margin-left: 20px;
  width: auto; /* This maintains the aspect ratio */
}

.city-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.city {
  margin: 0 0 0 20px;
  color: #DEDFE6;
}
.map-icon{
  color: #818895;
}

.time {
  margin: 10px 0 0 20px;
  color: #DEDFE6
}

.city-degree {
  /* You can adjust the margin as needed */
  margin-right: 40px;
  color: #DEDFE6
}
