body{
    display: flex;
    background-color: rgb(10, 16, 26);
}
.searchbar{
    background-color: rgb(32, 43, 59);
    border-radius: 6px;
    width:1010px;
    height: 35px;
    margin-left: 120px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    color: #ffffff;
    
    }
    .sidebar{
    
    background-color: rgb(32, 43, 59);
    width: 80px;
    height: 850px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 0px;
    
    }
    .sidebar a:hover {
        color: #f1f1f1;
      }
      .sidebar a {
        padding: 50px 8px 8px 18px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        justify-content: center;
        
      }
      .sidebar i{
        justify-content: center;
      }
      .maap{
position:absolute;
width: 85%;
   height: 740px;
   border-radius: 45px;
   margin-top: 35px;
   color: #ffffff;
   display: flex;
   margin-top: 70px;
  margin-left: 140px;
      }