body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B121E;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: #fff;
}
.middle-bar {
    width: 90%;
    height: 100%;
    overflow-y: auto;
}

.left-bar {
    width: 10%;
    height: 100%;
}

.navbar {
    height: 94vh;
    width: 85px;
    background-color: #202B3C;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    border-radius: 30px;
}

.navbar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.navbar i {
    margin-bottom: 10px;
}

.navbar a:hover {
    background-color: #555;
}
.navbar img {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.nav-icons{
    color: #818895;
}

.weather{
    color: #F1F0F7;
}

.search-bar{
    padding-top: 20px;
}

.search-bar input {
    padding: 8px;
    width: 700px;
    height: 25px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    background-color: #202B3C;

}

.map-icon{
    color: #818895;
}
.search-font{
    color: white;
}
.units-title{
    color: #DEDFE6;
    font-size: 15px;
    margin-top: 22px;
    margin-bottom: 0;
}
.units {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 200px;
    background-color: #202B3BFF;
    border-radius: 20px;
    margin-top: 15px;
}

.temp-title{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 20px;
    color: #818895;

}

.temperature{
    display: flex;
    flex-direction: column;
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unit-btn {
    background-color: #090F18;
    color: #818895;
    border: none;
    padding: 8px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
}

.unit-btn:hover {
    background-color: #555;
}

.unit-btn:focus {
    outline: none;
}

.speed-btn {
    background-color: #090F18;
    color: #818895;
    border: none;
    padding: 8px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 230px;
}

.speed-btn:hover {
    background-color: #555;
}

.speed-btn:focus {
    outline: none;
}

.pressure-btn{
    background-color: #090F18;
    color: #818895;
    border: none;
    padding: 8px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 170px;
}

.pressure-btn:hover {
    background-color: #555;
}

.pressure-btn:focus {
    outline: none;
}

.notifications{
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 100px;
    background-color: #202B3BFF;
    border-radius: 20px;
    margin-top: 15px;
}

.notifications-title {
    color: #DEDFE6;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 25px;
}

.notify-desc{
    color: #818895;
    margin-left: 20px;
    margin-top: 10px;
}
.selected{
    /* background-color: #2A374B; */
    border-radius: 10px;
    font-weight: bold;
}
.toggle-btn {
    margin-left: auto;
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #1e2021;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0077CC;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.notify{
    display: flex;
    flex-direction: row;
    align-items: center
}

.general-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    flex-grow: 1;
    padding: 10px;
}

.general-box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    flex-grow: 1;
    padding: 10px;
    position: relative;
}

.general-box1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 80%;
    height: 1px;
    background-color: #555;
}

.general {
    display: flex;
    flex-direction: column;
    width: 720px;
    background-color: #202B3BFF;
    border-radius: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.general-title{
    color: #DEDFE6;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.unit-btn.selected,
.speed-btn.selected,
.pressure-btn.selected {
    /* Change this styling to match your page's theme */
    background-color: #007bff;
    color: white;
}